body {
    box-sizing: border-box;
    margin: 0px;
}
.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-self: center;
    justify-self: center;
    width: 50vw;
    height: 100vh;
    padding: 20px;
}

.container > div {
    border: solid black 1px;
    
}